#!/opt/cusf-notam-twilio/venv/bin/python

import logging
from logging.handlers import SysLogHandler
from flup.server.fcgi import WSGIServer
from notam import app

_format_string = "cusf-notam-twilio: %(name)s %(levelname)s %(message)s"
handler = SysLogHandler(facility=SysLogHandler.LOG_LOCAL5, address="/dev/log")
handler = logging.StreamHandler(log_file)
handler.setLevel(logging.DEBUG)
handler.setFormatter(logging.Formatter(_format_string))

root_logger = logging.getLogger()
root_logger.setLevel(logging.DEBUG)
root_logger.addHandler(handler)

app.config['URL'] = "http://www.danielrichman.co.uk/cusf-notam-info/{0}"

if __name__ == "__main__":
    WSGIServer(app).run()
