h1 {
    margin-bottom: 20px;
    text-align: center;
}
.message_neader {
    text-align: center !important;
    font-size: 150%;
}
.pagination .page_number {
    width: 25px;
}
select#forward_to {
    width: auto;
}

#page_home #management p {
    text-align: center;
}
#page_home section {
    margin-bottom: 40px;
}

#page_log_viewer .call_id {
    font-family: monospace;
}
#page_log_viewer #calls td {
    vertical-align: middle;
}
#page_log_viewer_call #header {
    margin-bottom: 20px;
}
#page_log_viewer_call #header p {
    padding-top: 2px;
}
#page_log_viewer h1 {
    margin-bottom: 0;
}

#page_edit_humans #humans_list td {
    vertical-align: middle;
}
#page_edit_humans #humans_list input {
    margin: 0;
}

#page_list_messages #header {
    margin-bottom: 20px;
}
#page_list_messages #header #utc_note {
    margin-top: 4px;
    display: inline-block;
}
#page_list_messages .message_buttons {
    text-align: center;
    width: 200px;
}
#page_list_messages .message_buttons form {
    display: inline-block;
    margin: 0;
    padding: 0;
}
@media (max-width: 767px) {
    #page_list_messages .message_buttons {
        width: 120px;
    }
}
@media (max-width: 480px) {
    #page_list_messages .message_buttons {
        width: 85px;
    }
}

#page_edit_message .control-group.gap_after {
    margin-bottom: 30px;
}
