{% extends "base.html" %}
{% set page_title = "Humans" %}

{% set row_classes = {
        lowest_priorities[0]: 'success',
        lowest_priorities[1]: 'info',
        0: 'muted'
    }
%}

{% block content %}
    <div class="row">
        <div class="span6">
            <form name="edit_priorities" method="POST" action="{{ url_for(request.endpoint) }}">
                <input type="hidden" name="edit_priorities" value="true">
                {{ csrf_token_input() }}

                <table class="table table-bordered table-hover" id="humans_list">
                    <thead>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Priority</th>
                    </thead>
                    <tbody>
                        {% for human in humans %}
                            <tr class="{{ row_classes[human.priority] }}">
                                <td>{{ human.name }}</td>
                                <td>{{ human.phone }}</td>
                                <td><input name="priority_{{ human.id }}" class="input-mini" type="text"
                                           value="{{ request.form.get("priority_{0}".format(human.id), human.priority) }}"
                                           required pattern="0|[1-9][0-9]*" maxlength="4"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> Update priorities</button>
                <button class="btn" type="reset"><i class="icon-trash"></i> Reset</button>
            </form>

            <h3>Add human</h3>

            <form name="add_human" method="POST" action="{{ url_for(request.endpoint) }}" class="form-inline">
                <input type="hidden" name="add_human" value="true">
                {{ csrf_token_input() }}

                <input class="input-medium" type="text" placeholder="Name"
                       name="name" required maxlength="50"
                       value="{{ request.form.name }}">
                <input class="input-medium" type="text" placeholder="Phone"
                       name="phone" required pattern="\+[0-9]+" maxlength="25"
                       value="{{ request.form.phone }}">
                <input class="input-small" type="text" placeholder="Priority"
                       name="priority" required pattern="0|[1-9][0-9]*" maxlength="4"
                       value="{{ request.form.priority }}">

                <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> Save</button>
                <button class="btn" type="reset"><i class="icon-trash"></i></button>
            </form>
        </div>

        <div class="span6">
            <h3>Priority</h3>

            <p>Humans are phoned in order of priority, humans with equal priorities are shuffled randomly.</p>
            <p>
                Rows cannot be deleted; humans with priority equal to zero are ignored; "disabled"
                (though still may be chosen as targets for immediate forwarding (see messages)).
            </p>
        </div>
    </div>
{% endblock %}
