{% extends "base.html" %}
{% from "pagination.html" import pagination %}
{% from "misc.html" import datetime_pattern %}

{% set page_title = "Messages" %}

{% block content %}
    <div class="row">
        <div class="span12">
            {% if page %}
                <section id="pagination_before">
                    {{ pagination(page, pages) }}
                </section>
            {% endif %}

            <section id="header">
                <div class="row">
                    <div id="utc_note" class="span4 text-left">Note that all times are UTC.</div>
                    <div class="span4 text-center">
                        <form class="form-inline" method="POST" action="{{ url_for('wizard_start') }}">
                            {{ csrf_token_input() }}
                            <input type="text" id="launch_date" name="launch_date"
                                   value="{{ default_launch_date }}" {{ datetime_pattern }}>
                            <button class="btn btn-success">Launch wizard</button>
                        </form>
                    </div>
                    <div class="span4 text-right">
                        <a href="{{ url_for("edit_message") }}" class="btn btn-primary" id="add_message">Add Message</a>
                    </div>
                </div>
            </section>

            <section id="messages">
                {% for message in messages %}
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td class="message_buttons">
                                    {% if message.active_when.upper > datetime_now() %}
                                        <a class="btn btn-mini btn-warning" href="{{ url_for("edit_message", message_id=message.id) }}">
                                            <i class="icon-pencil icon-white"></i> Edit
                                        </a>
                                    {% endif %}

                                    {% if message.active_when.lower > datetime_now() %}
                                        <form method="POST" action="{{ url_for("delete_message", message=message.id) }}">
                                            {{ csrf_token_input() }}
                                            <button class="btn btn-mini btn-danger">
                                                <i class="icon-remove icon-white"></i> Delete
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                                <th class="message_header">
                                    &ldquo;{{ message.short_name }}&rdquo;
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% macro message_attr(key, value) %}
                                <tr>
                                    <th>{{ key }}</th>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endmacro %}

                            <tr>
                                <th>Active</th>
                                <td>
                                    {{ message.active_when.lower }} &ndash; {{ message.active_when.upper }}
                                    {% if message.active %}
                                        <i class="text-info">(active now)</i>
                                    {% elif message.gap_preceeding %}
                                        <i class="text-warning">(gap preceeding)</i>
                                    {% endif %}
                                    {% set last_upper = message.active_when.upper %}
                                </td>
                            </tr>

                            {{ message_attr("Widget text", message.web_short_text) }}
                            {{ message_attr("Launches page text", message.web_long_text) }}

                            {% if message.call_text %}
                                {{ message_attr("Twilio call text", message.call_text) }}
                            {% else %}
                                <tr>
                                    <th>Immediately forward calls to</th>
                                    <td>&ldquo;{{ message.forward_name }}&rdquo; on {{ message.forward_phone }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                {% endfor %}

                {% if not messages %}
                    <p>No messages (ever!)</p>
                {% endif %}
            </section>

            {% if page and messages|length > 3 %}
                <section id="pagination_after">
                    {{ pagination(page, pages) }}
                </section>
            {% endif %}
        </div>
    </div>
{% endblock %}
